---

---
<script>
  import {addMenu} from "./hamburger";
  addMenu()
  
</script>
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div> 