---
import Navigation from '@components/navigation/navigation.astro'
import Hamburger from '@components/hamburger/hamburger.astro'
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
